{% extends 'base.html' %}
    {% block header %}
        {% include 'head.html' %}
        {% include 'navbar.html' %}
        {% include 'banner.html' %}

    {% endblock header %}
    
    {% block content %}
        <div class="about-container">
            <h1>Who Are We</h1>
            <p>Loyal Tech is a computer Company Located in Loyal Tech is a computer Company Located in
                Loyal Tech is a computer Company Located in Loyal Tech is a computer Company Located in
                Loyal Tech is a computer Company Located inLoyal Tech is a computer Company Located in
                Loyal Tech is a computer Company Located inLoyal Tech is a computer Company Located in
                Loyal Tech is a computer Company Located inLoyal Tech is a computer Company Located in
                Loyal Tech is a computer Company Located inLoyal Tech is a computer Company Located in
                Loyal Tech is a computer Company Located inLoyal Tech is a computer Company Located in
            </p>
        </div>
    {% endblock %}