{% extends 'base.html' %}
    {% block header %}
        {% include 'head.html' %}
        {% include 'navbar.html' %}
        {% include 'banner.html' %}

    {% endblock header %}
    
    {% block content %}
        <div class="about-container">
            <h1>Our Contact</h1>
            <ul>
                <li><i class="fa-solid fa-phone"></i> : +250 783 566 715</li>
                <li><i class="fa-solid fa-phone"></i> : +250 784 913 902</li>
                <li><i class="fa-solid fa-at"></i> : yve_melody@email.com</li>
                <li><i class="fa-solid fa-at"></i> : zokme00@email.com</li>
            </ul>
        </div>
    {% endblock %}