<footer class="footer" id="footer">
    <div class="max-width-footer footer-nav" id="footer-nav">
      <div class="footer-link">
        <h4 class="h4-footer">Navigation</h4>
        <ul class="hiden-footer">
          <li><a href="#">Home</a></li>
          <li><a href="#">Computers</a></li>
          <li><a href="#">Phones</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Others</a></li>
          <li><a href="#">About-Us</a></li>
          <li><a href="#">Contact</a></li> 
        </ul>

      </div>            
      <div class="footer-about">
        <h4 class="h4-footer">About Us</h4>
        <p class="hiden-footer">Electronics store specializing in the sale of quality equipment.</br>
          Delivery possible anywhere in Kigali with the possibility of ordering</br>
          from outside at wholesale prices (Dubai, China, Korea and USA)</br>
        </p>
      </div>

      <div class="footer-contact">
        <h4 class="h4-footer">Contact</h4>
        <ul class="hiden-footer hiden-footer">
          <li><i class="fa-solid fa-phone"></i> : +12892189</li>
          <li><i class="fa-solid fa-phone"></i> : +12892189</li>
          <li><i class="fa-solid fa-at"></i> : email@email.com</li>
        </ul>
      </div>
    </div>

    <div class="max-width-footer footer-down">

      

      <div class="socials-media">
        <h4 class="h4-footer" id="follow-us-h4">Follow Us</h4>
        <ul class="hiden-footer">
          <li><i class="fa-brands fa-facebook fa-3x"></i></li>
          <li><i class="fa-brands fa-instagram-square fa-3x"></i></li>
          <li><i class="fa-brands fa-twitter fa-3x"></i></li>
          <li><i class="fa-brands fa-youtube fa-3x"></i></li>
          <li><i class="fa-brands fa-whatsapp-square fa-3x"></i></li>
          <li><i class="fa-brands fa-telegram fa-3x"></i></li>
        </ul>
      </div>

      <div class="store-location">
        <h4 class="h4-footer">Find Us</h4>
        <button class="hiden-footer"><i class="fa-solid fa-location-dot"></i> Store Location</button>
      </div>

    </div>
    <p class="copyright">Copyright © 2022 0script <a href="https://github.com/0script">0script github </a> </p>
</footer>
