<div class="menu-container" id="menu-container" >
    <a href="#" id="site-logo" class="site-logo" aria-label="DEV Community Home">
        LOYAL TECH
        {% comment %} <img src="img/logo.png" class="logo  w3-circle" /> {% endcomment %}
    </a>
        
    <form action="{%url 'store:search' %}" class="search-form w3-display-container" id="search-form ">
      <button class="search-btn w3-display-left"><i class="fa fa-search"></i></button>
      <input type="text" class="search-input" id="search-input" name="q" />
    </form>

    <a class="tel-link w3-button w3-light-green"  href="#">
        <i class="fa-brands fa-whatsapp"></i>
        <span>0784913902</span>
    </a>
    
    {% comment %} <a  class="cart-link w3-button w3-circle w3-light-green"  href="#">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span class="cart-items-count"></span>
    </a>
    <a  class="log-in w3-button w3-round-large w3-light-green" href="#" style="text-decoration:none;">
      Log-In
    </a>
    <a  class="sign-in w3-button w3-round-large w3-light-green" href="#" style="text-decoration:none;">
      sign-in
      <i class="fa fa-sign-in" aria-hidden="true"></i>1
    </a> {% endcomment %}
</div>
